<div class="r-msg-show">
  <div class="r-msg-list">
    <div  ng-repeat="message in messageList" ng-switch="message.panelType">
      <div class="r-msg-item" ng-switch-when="1">
        <div class="r-msg-title">
          <a href="">{{message.senderUserName}}</a>
          <time>{{message.sentTime | date:'yyyy/MM/dd HH:mm:ss'}}</time>
        </div>
        <div class="r-msg-content"  ng-switch="message.messageType">
          <search-text-message message="message.content" searchstr='searchStr' ng-switch-when="TextMessage"></search-text-message>
          <search-image-message message="message.content" ng-switch-when="ImageMessage"></search-image-message>
          <div ng-switch-default class="sys-tips"><span>暂不支持此类型消息显示</span></div>
        </div>
      </div>
      <div ng-switch-when="2" class="sys-tips"><span>{{message.content}}</span></div>
      <div ng-switch-default class="sys-tips"><span>暂不支持此类型消息显示</span></div>
    </div>

  </div>
  <div class="r-msg-page">
    <span class="r-page-total" ng-show="pageCount!=0">共{{pageCount}}页</span>
    <a href="" ng-class="{'r-a-disabled':currentPage==1}" ng-click="pre()">&lt;</a>
    <a href="">{{currentPage}}</a>
    <a href="" ng-class="{'r-a-disabled':hasmoreMessage}" ng-click="next()">&gt;</a>
  </div>
</div>
