<!DOCTYPE html>
<html lang="en" style="background:none">
<head>
<meta charset="UTF-8">
<title>58 UI</title>
<link rel="stylesheet" href="assets/css/main.css" charset="utf-8">
<link rel="stylesheet" href="assets/css/58.css">
</head>
<body style="background:none">
	
<div class="wrap" style="width:600px;height:600px;background:#fff;margin:20px 50px;">	

<div class="r-group-new">
	<div class="r-group-panel">
		<div class="r-group-search">
			<input type="text" class="r-group-search-keyword r-input-focus" placeholder="搜索" />
			<a href="" class="r-input-clear">X</a>
		</div>
		<div class="r-member-search">
			<div class="r-members-item">
				<div class="r-member-info">
					<img src="http://7xogjk.com1.z0.glb.clouddn.com/ZfrRmtSkh1467874145615494873" alt="">
					<span>王浅明</span>
				</div>
				<a href="" class="r-member-add">+</a>
			</div>
			<div class="r-members-item">
				<div class="r-member-info">
					<img src="http://7xogjk.com1.z0.glb.clouddn.com/Fh8xVqod2MQ1mocfI4S4KpRL6D98" alt="">
					<span>于洋</span>
				</div>
				<a href="" class="r-member-add">+</a>
			</div>
			<div class="r-members-item">
				<div class="r-member-info">
					<img src="http://7xogjk.com1.z0.glb.clouddn.com/ZfrRmtSkh1467874145615494873" alt="">
					<span>王浅明</span>
				</div>
				<a href="" class="r-member-add">+</a>
			</div>
			<div class="r-members-item">
				<div class="r-member-info">
					<img src="http://7xogjk.com1.z0.glb.clouddn.com/Fh8xVqod2MQ1mocfI4S4KpRL6D98" alt="">
					<span>于洋</span>
				</div>
				<a href="" class="r-member-add">+</a>
			</div>
		</div>
		<div class="r-group-info" style="background:#cd0000;">
			放入组织结构图
		</div>
	</div>
	<div class="r-member-result">
		<div class="r-member-title">
			<h2>已选择的联系人(<span class="r-member-total">16</span>)</h2>
		</div>
		<div class="r-member-selected">
			<div class="r-members-item">
				<div class="r-member-info">
					<img src="http://7xogjk.com1.z0.glb.clouddn.com/Fh8xVqod2MQ1mocfI4S4KpRL6D98" alt="">
					<span>于洋</span>
				</div>
				<a href="" class="r-member-remove">X</a>
			</div>
			<div class="r-members-item">
				<div class="r-member-info">
					<img src="http://7xogjk.com1.z0.glb.clouddn.com/ZfrRmtSkh1467874145615494873" alt="">
					<span>王浅明</span>
				</div>
				<a href="" class="r-member-remove">X</a>
			</div>
			<div class="r-members-item">
				<div class="r-member-info">
					<img src="http://7xogjk.com1.z0.glb.clouddn.com/Fh8xVqod2MQ1mocfI4S4KpRL6D98" alt="">
					<span>于洋</span>
				</div>
				<a href="" class="r-member-remove">X</a>
			</div>
			<div class="r-members-item">
				<div class="r-member-info">
					<img src="http://7xogjk.com1.z0.glb.clouddn.com/ZfrRmtSkh1467874145615494873" alt="">
					<span>王浅明</span>
				</div>
				<a href="" class="r-member-remove">X</a>
			</div>
			<div class="r-members-item">
				<div class="r-member-info">
					<img src="http://7xogjk.com1.z0.glb.clouddn.com/Fh8xVqod2MQ1mocfI4S4KpRL6D98" alt="">
					<span>于洋</span>
				</div>
				<a href="" class="r-member-remove">X</a>
			</div>
			<div class="r-members-item">
				<div class="r-member-info">
					<img src="http://7xogjk.com1.z0.glb.clouddn.com/ZfrRmtSkh1467874145615494873" alt="">
					<span>王浅明</span>
				</div>
				<a href="" class="r-member-remove">X</a>
			</div>
			<div class="r-members-item">
				<div class="r-member-info">
					<img src="http://7xogjk.com1.z0.glb.clouddn.com/Fh8xVqod2MQ1mocfI4S4KpRL6D98" alt="">
					<span>于洋</span>
				</div>
				<a href="" class="r-member-remove">X</a>
			</div>
			<div class="r-members-item">
				<div class="r-member-info">
					<img src="http://7xogjk.com1.z0.glb.clouddn.com/ZfrRmtSkh1467874145615494873" alt="">
					<span>王浅明</span>
				</div>
				<a href="" class="r-member-remove">X</a>
			</div>
			<div class="r-members-item">
				<div class="r-member-info">
					<img src="http://7xogjk.com1.z0.glb.clouddn.com/Fh8xVqod2MQ1mocfI4S4KpRL6D98" alt="">
					<span>于洋</span>
				</div>
				<a href="" class="r-member-remove">X</a>
			</div>
			<div class="r-members-item">
				<div class="r-member-info">
					<img src="http://7xogjk.com1.z0.glb.clouddn.com/ZfrRmtSkh1467874145615494873" alt="">
					<span>王浅明</span>
				</div>
				<a href="" class="r-member-remove">X</a>
			</div>
			<div class="r-members-item">
				<div class="r-member-info">
					<img src="http://7xogjk.com1.z0.glb.clouddn.com/Fh8xVqod2MQ1mocfI4S4KpRL6D98" alt="">
					<span>于洋</span>
				</div>
				<a href="" class="r-member-remove">X</a>
			</div>
			<div class="r-members-item">
				<div class="r-member-info">
					<img src="http://7xogjk.com1.z0.glb.clouddn.com/ZfrRmtSkh1467874145615494873" alt="">
					<span>王浅明</span>
				</div>
				<a href="" class="r-member-remove">X</a>
			</div>
			<div class="r-members-item">
				<div class="r-member-info">
					<img src="http://7xogjk.com1.z0.glb.clouddn.com/Fh8xVqod2MQ1mocfI4S4KpRL6D98" alt="">
					<span>于洋</span>
				</div>
				<a href="" class="r-member-remove">X</a>
			</div>
			<div class="r-members-item">
				<div class="r-member-info">
					<img src="http://7xogjk.com1.z0.glb.clouddn.com/ZfrRmtSkh1467874145615494873" alt="">
					<span>王浅明</span>
				</div>
				<a href="" class="r-member-remove">X</a>
			</div>
			<div class="r-members-item">
				<div class="r-member-info">
					<img src="http://7xogjk.com1.z0.glb.clouddn.com/Fh8xVqod2MQ1mocfI4S4KpRL6D98" alt="">
					<span>于洋</span>
				</div>
				<a href="" class="r-member-remove">X</a>
			</div>
			<div class="r-members-item">
				<div class="r-member-info">
					<img src="http://7xogjk.com1.z0.glb.clouddn.com/ZfrRmtSkh1467874145615494873" alt="">
					<span>王浅明</span>
				</div>
				<a href="" class="r-member-remove">X</a>
			</div>
			<div class="r-members-item">
				<div class="r-member-info">
					<img src="http://7xogjk.com1.z0.glb.clouddn.com/Fh8xVqod2MQ1mocfI4S4KpRL6D98" alt="">
					<span>于洋</span>
				</div>
				<a href="" class="r-member-remove">X</a>
			</div>
		</div>
		<div class="r-group-btns">
			<a href="" class="r-btn r-group-cancel">取消</a>
			<a href="" class="r-btn r-btn-ok r-group-ok">创建</a>
		</div>
	</div>
</div>


<div class="r-group-name-pop" style="position:absolute;top:200px;left:300px;">
	<div class="r-group-name">
		<input type="text" placeholder="请输入群聊名" class="r-input-focus" />
		<label>群聊创建后，群聊名不可修改。</label>
	</div>
	<div class="r-group-btns">
		<a href="" class="r-btn r-group-cancel">取消</a>
		<a href="" class="r-btn r-btn-ok r-group-ok">创建</a>
	</div>
</div>

</div>

</body>
</html>