.r-group-new {
  width: 90%;
  height: 90%;
  background: #fff;
  border: 1px solid #e9e8e7;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 4px #f5f4f2;
  font-size: 12px;
  position: relative;
}
.r-group-panel,
.r-member-result {
  width: 49%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
.r-member-result {
  border-left: 1px solid #e9e8e7;
}
.r-group-search {
  margin: 10px;
}
.r-group-search-keyword {
  border: 1px solid #f5f4f2;
  outline: none;
  color: #d6d4d2;
  font-size: 12px;
  width: 100%;
  height: 28px;
  border-radius: 8px;
  background: #f5f4f2 url(images/search.png) no-repeat 4px 9px;
  text-indent: 2.2em;
}
.r-input-clear {
  background: #e0deda url(images/search.png) no-repeat -3px -216px;
  display: block;
  width: 10px;
  height: 10px;
  overflow: hidden;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  float: right;
  margin: -19px 10px 0 0;
  position: relative;
}
.r-input-focus {
  border-color: #fd8216;
}
.r-group-info {
  margin: 10px;
  overflow: auto;
  height: 88%;
}
.r-member-title {
  margin: 17px 10px 18px;
  /*padding:17px 0 18px;*/

}
.r-member-selected {
  margin: 10px 0 10px 15px;
  padding-right: 10px;
  height: 80%;
  overflow: auto;
}
.r-members-item {
  /*background: #fff;*/
  margin-top: 10px;
}
.r-members-item:hover {
  background: #f8f8f8;
}
.r-member-info img {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-right: 5px;
}
.r-member-info span {
  font-size: 14px;
}
.r-member-remove,
.r-member-add {
  float: right;
  margin: -22px 0 0 0;
  display: block;
  height: 22px;
  width: 22px;
  line-height: 80px;
  overflow: hidden;
  background: url(images/search.png) no-repeat -1px -99px;
}
.r-member-remove:hover,
.r-member-add:hover {
  opacity: 0.7;
}
.r-btn {
  display: inline-block;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #e9e8e7;
  font-size: 14px;
  line-height: 30px;
  color: #7a7673;
  margin: 0 4px;
}
.r-btn-ok,
.r-btn-ok:hover {
  border: 1px solid #d25e00;
  background: #fd8216;
  color: #fff;
}
.r-btn-ok:hover {
  opacity: 0.9;
}
.r-group-btns {
  height: 40px;
  text-align: center;
}
/*搜索结果*/
.r-group-panel .r-member-search {
  position: absolute;
  left: 10px;
  width: 45.3%;
  background: #fff;
}
.r-group-panel .r-member-search .r-members-item:hover .r-member-add {
  display: block;
}
.r-member-add {
  margin-top: -24px;
  display: none;
  background-position: -2px -157px;
}
/*弹层*/
.r-group-name-pop {
  background: #fff;
  width: 300px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #e9e8e7, -1px -1px 1px #e9e8e7, 1px 1px 1px #e9e8e7;
  border: 1px solid #e9e8e7;
}
.r-group-name {
  padding-top: 10px;
  margin-bottom: 10px;
}
.r-group-name input {
  width: 100%;
  border: 1px solid #e9e8e7;
  height: 28px;
  font-size: 13px;
  text-indent: 10px;
  border-radius: 5px;
}
.r-group-name .r-input-focus {
  border-color: #fd8216;
}
.r-group-name label {
  color: #b3b1af;
  font-size: 12px;
  font-weight: 400;
  text-indent: 10px;
  line-height: 30px;
}
/*消息管理器*/
.r-msg-panel {
  width: 100%;
  height: 100%;
}
.r-msg-friends,
.r-msg-show {
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
.r-msg-friends {
  width: 100%;
  font-size: 12px;
}
.r-msg-friends .r-member-search {
  height: 89%;
  overflow: auto;
  margin-left: 0.8em;
  padding-top: 0.8em;
  padding-bottom: 5em;
}
.r-member-msg {
  font-size: 12px;
  line-height: 2;
  padding-top: 5px;
}
.r-member-msg-content {
  /*padding-top:5px;*/

}
.r-msg-show {
  width: 69%;
  border-left: 1px solid #e9e8e7;
}
.r-msg-list {
  height: 90%;
  overflow: auto;
}
.r-msg-item {
  border-top: 1px solid #e9e8e7;
  padding: 15px 10px;
  font-size: 12px;
}
.r-msg-title {
  color: #adadab;
  line-height: 2;
}
.r-msg-title a {
  color: #adadab;
  margin-right: 0.5em;
}
.r-msg-content {
  color: #5c5555;
  line-height: 1.5;
}
.r-msg-content a {
  color: #67ccfb;
}
.r-msg-content img {
  max-width: 200px;
  max-height: 200px;
}
.r-msg-keyword {
  background-color: #fec08a;
}
.r-msg-page {
  height: 30px;
  padding: 20px;
  border-top: 1px solid #e9e8e7;
  text-align: right;
  color: #d6d4d2;
  font-size: 12px;
}
.r-msg-page a {
  border: 1px solid #e9e8e7;
  padding: 6px 10px;
  margin: 0 5px;
  border-radius: 5px;
  line-height: 1;
  font-family: "宋体", silom, arial;
  color: #5c5555;
}
.r-msg-page .r-a-disabled {
  opacity: 0.6;
}
.r-page-total {
  margin-right: 2em;
}
