.communicateList .noticeBar, .communicateList .groupArea, 
.communicateList .membersArea, .communicateList .publicArea{
	margin-bottom:2px;
}
.groupAreaBody{
    padding-left:15px;
}
.r-member-info img{
	border-radius:50%;
}
.userFunPannel-blacklist .left{
	margin-top:-10px;
}
.company-btn{
	margin-top:40px;
}
.userFunPannel{
	line-height:30px;
}
.userFunPannel h2{
	color:#8e969f;
	border-bottom:1px solid #efefef;
	padding-bottom:15px;
	margin-bottom:10px;
}
.userFunPannel .userFunPannel-content{
	color:#8e969f;
	margin-left:2em;
}
.userFunPannel ul li{
	border-bottom:none;
}
.userFunPannel ul li .left{
	/*padding-top:2em;*/
}
.userFunPannel .userFunPannel-btn span{
	background:#00a0ff;
	padding:10px 50px;
	border-radius:5px;
	color:#fff;
}
.userFunPannel .redColor span{
	background:#ff0000;
}

.r-organ-user-head-img{
	width:30px;
	height:30px;
}
treecontrol {
    /* prevent user selection */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* default */
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size:13px;
    color: #555;
    text-decoration: none;
}

treecontrol ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    overflow: hidden;
}

treecontrol li {
  position: relative;
  padding: 5px 5px 5px 0;
  margin:10px 0 6px;
  line-height: 20px;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
treecontrol li li {
    padding-left:20px;
}

treecontrol li.tree-expanded i.tree-leaf-head, treecontrol li.tree-collapsed i.tree-leaf-head {display:none;}
treecontrol li.tree-expanded i.tree-branch-head, treecontrol li.tree-collapsed i.tree-branch-head {display:inline;}
treecontrol li.tree-leaf i.tree-branch-head {display:none;}
treecontrol li.tree-leaf i.tree-leaf-head {display:inline;}

treecontrol li .tree-unselectable {
    cursor: pointer;
}
treecontrol.tree-classic li.tree-leaf i.tree-leaf-head{
  padding: 0px;
}

treecontrol li i.tree-branch-head {
    cursor: pointer;
}

treecontrol li .tree-label {
    cursor: pointer;
    display: inline;
}

treecontrol li .tree-unselectable {
    /*cursor: not-allowed;*/
}

treecontrol.tree-classic li.tree-expanded i.tree-branch-head {
    padding: 8px 15px;
    /*background: url("im/folder.png") no-repeat;*/
    background: url(im/p2.png) no-repeat 0 0;
    background-size:100% 100%;
    margin-right:5px;
}

treecontrol.tree-classic li.tree-collapsed i.tree-branch-head {
    padding: 8px 15px;
    margin-right:5px;
    background: url(im/p1.png) no-repeat 0 0;
    background-size:100% 100%;
    /*background: url("im/folder-closed.png") no-repeat;*/
}

treecontrol.tree-classic li.tree-leaf i.tree-leaf-head {
    padding: 8px 15px;
    /*background: url("im/file.png") no-repeat;*/
    background:#e97ffb;
    border-radius:50%;
    margin-right:5px;
    display:none;
}

treecontrol.tree-classic li .tree-selected {
    background-color: #aaddff;
    font-weight: bold;
}

treecontrol.tree-classic li .tree-unselectable {
    /*color: #ddd;*/
}

treecontrol.tree-light li.tree-expanded i.tree-branch-head {
    padding: 1px 10px;
    background: url("im/node-opened-2.png") no-repeat;
}

treecontrol.tree-light li.tree-collapsed i.tree-branch-head {
    padding: 1px 10px;
    background: url("im/node-closed-2.png") no-repeat;
}

treecontrol.tree-light li.tree-leaf i.tree-leaf-head {
    padding: 1px 10px;
    width: 16px; height: 16px;
    background: none no-repeat;
}

treecontrol.tree-light li .tree-selected {
    font-weight: bold;
}

treecontrol.tree-light li .tree-unselectable {
    color: #ddd;
}

treecontrol.tree-dark li.tree-expanded i.tree-branch-head {
    padding: 1px 10px;
    background: url("im/node-opened-light.png") no-repeat;
}

treecontrol.tree-dark li.tree-collapsed i.tree-branch-head {
    padding: 1px 10px;
    background: url("im/node-closed-light.png") no-repeat;
}

treecontrol.tree-dark li.tree-leaf i.tree-leaf-head {
    padding: 1px 10px;
    width: 16px; height: 16px;
    background: none no-repeat;
}

treecontrol.tree-dark li .tree-selected {
    font-weight: bold;
}

treecontrol.tree-dark li .tree-unselectable {
    color: #777;
}

treecontrol.tree-dark {
    color: #ddd;
}

treecontrol.tree-boot {
    color: #428bca;
    font-family: inherit;
    font-size: inherit;
}

treecontrol.tree-boot > ul > li {
    padding: 0;
}

treecontrol.tree-boot li > .tree-label {
    display: block;
    padding: 3px 0;
    border-radius: 4px;
}

treecontrol.tree-boot i.tree-branch-head,
treecontrol.tree-boot i.tree-leaf-head {
    float: left;
    height: 16px;
    margin: 5px;
}

treecontrol.tree-boot li.tree-expanded i.tree-branch-head {
    padding: 1px 10px;
    background: url("im/folder.png") no-repeat;
}

treecontrol.tree-boot li.tree-collapsed i.tree-branch-head {
    padding: 1px 10px;
    background: url("im/folder-closed.png") no-repeat;
}

treecontrol.tree-boot li.tree-leaf i.tree-leaf-head {
    padding: 1px 10px;
    background: url("im/file.png") no-repeat;
}

treecontrol.tree-boot .tree-label.tree-selected,
treecontrol.tree-boot .tree-label.tree-selected:hover {
    color: #fff;
    background-color: #428bca;
}

treecontrol.tree-boot .tree-label:hover {
    background-color: #eee;
}