.ngdialog.ngdialog-organizationgroup .ngdialog-content{
  margin-top: 56px;
  margin-left: 76px;
  background-color: transparent;
  max-width: 800px;
}
.r-member-selected{
  height: 74%;
}
.r-group-panle-head{
  padding: 15px;
  border: 1px solid #CCCCCC;
}
.r-group-new .searchArea div{
  width: 98%;
}
.r-group-new {
  height: 500px;
}
.r-group-new .searchArea div input{
  border: 1px solid #f5f4f2;
  outline: none;
  color: #d6d4d2;
  font-size: 12px;
  width: 100%;
  height: 28px;
  border-radius: 8px;
  background: #f5f4f2 url(images/search.png) no-repeat 4px 9px;
  text-indent: 2.2em;
}
.r-input-clear {
  margin-top: -30px;
}
.r-group-name-pop{
    position: absolute;
    right: 30%;
    top: 30%;
}
.r-msg-show{
  width: 100%;
}
.r-member-info{
  cursor: pointer;
}
.LeftNav-item.iconfont-add.searchmessage a{
  background: url(images/time.png) 10px; background-size: 36px 34px;background-repeat: no-repeat;
}
.r-msg-content pre{
  font-size: 14px;
  line-height: 26px;
  color: rgb(68, 68, 68);
  word-break: break-all;
  word-wrap: break-word;
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  white-space: pre-wrap;
}
.chat_item .ext_info .msg span{
  vertical-align: middle;
}
.r-group-head {
  display: inline-block;
  width: 80px;
  padding: 5px;
  margin: 4px;
  background-color: #E9F0F8;
  cursor: pointer;
}
.r-group-head.selected{
  background-color: #CCCCCC;
}
.r-group-info{
  height: 335px
}
.r-member-search{
  /*max-height: 335px;*/
  overflow:auto;
}
.r-group-friend{
  padding: 3px;
  margin: 2px;
  cursor: pointer;
}
.r-group-friend-portrait{
  height: 14px;
  width: 14px;
  vertical-align: middle;
}
treecontrol li .tree-unselectable {
    cursor: pointer;
}
.r-group-panel, .r-member-result{
  height: 90%;
}
treecontrol.tree-classic li.tree-leaf i.tree-leaf-head{
  padding: 0px;
}
.r-organ-user-head-img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
}